@import "src/assets/scss/variables";

.assignment-icon {
  font-size: .9rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
  .tooltip-note {
    position: absolute;
    z-index: 100;
    bottom: 100%;
    left: 50%;
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    margin-bottom: 3px;
    padding: 3px 5px;
    transition: opacity .5s;
    transform: translateX(-50%);
    text-align: center;
    white-space: normal;
    opacity: 0;
    color: white;
    border-radius: 5px;
    background-color: $dark-blue-color;
  }
  &:hover {
    cursor: default;
    .tooltip-note {
      visibility: visible;
      opacity: 1;
    }
  }
}

