@import "variables";
@import "mixins";

.intro {
  padding: 30px 0;
  @include h1-main-header;
}
.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 15px;
}
.about, .last-visited {
  border: 1px solid $light-border-color;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 17px 0 rgba(0,0,0,0.05);
  grid-column: 1;
}
.about {
  padding: 30px 15px;
}
.last-visited {
  padding: 30px 0;
  h2 {
    padding: 0 15px;
  }
  .not-visited {
    padding: 0 15px;
  }
  .link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    padding: 7px 15px;
    text-decoration: none;
    color: black;
    &:hover {
      background-color: $light-hover-grey-color;
    }
    .name {
      transition: transform .3s;
    }
    .type {
      text-transform: capitalize;
    }
  }
}
.card {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 15px 0;
  img {
    max-width: 30px;
    margin-right: 15px;
  }
}

@media (min-width: $breakpoint-lg) {
  .intro {
    padding: 80px 0;
  }
  .dashboard {
    grid-template-columns: repeat(10, 1fr);
    .about, .last-visited {
      border: 1px solid $light-border-color;
    }
    .about {
      grid-column: 1 / span 6;
    }
    .last-visited {
      grid-column: 7 / span 4;
    }
  }
}
