<section class="intro">
  <div class="container">
    <h1>Visualization of user roles used in Logex tools</h1>
    <div class="dashboard">
      <div class="about">
        <h2>About</h2>
        <div class="card">
          <img src="/assets/img/logex-icon.svg" alt="">
          <p>This app allows you to quickly find all necessary information about users, their roles and groups they are
            members of.</p>
        </div>
        <div class="card">
          <img src="/assets/img/logex-icon.svg" alt="">
          <p>To better understand how these roles are acquired, which groups contain which roles and
            so on, you can use the visualization feature, available for each group.</p>
        </div>
      </div>
      <div class="last-visited">
        <h2>Last viewed</h2>
        <div *ngIf="!visitedItems" class="not-visited">
          <p>You have not visited any record yet.</p>
          <p>Use the sidebar to discover some of them.</p>
        </div>
        <div *ngFor="let item of visitedItems">
          <a [routerLink]="[item.type + '/', item.id]" class="link">
            <span class="name">{{item.name}}</span>
            <span class="type">{{item.type}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

