@import "variables";
@import "mixins";

.error-page {
  padding: 30px 0;
  text-align: center;
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: $dark-blue-color;
  }
}

@media (min-width: $breakpoint-lg) {
  .error-page {
    padding: 80px 0;
  }
}
