<section class="entities">
  <h2 class="heading">{{heading}}</h2>
  <hr>
  <div class="entities-list" [ngClass]="{'frozen': nextResultsLoading}">
    <div *ngFor="let entity of resultsOnCurrentPage" class="entity">
      <ng-template [ngTemplateOutlet]="template"
                   [ngTemplateOutletContext]="{entity: entity}"
                   class="link"></ng-template>
    </div>
  </div>
  <div *ngIf="shouldDisplayArrows"
       class="arrows" >
    <span (click)="handlePreviousClick()"
          class="button previous" [ngClass]="{'disabled': (this.currentPage === 0)}">
      <svg class="left" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 6.93"><defs></defs><polygon class="cls-1" points="4 6.93 8 0 0 0 4 6.93"/></svg>
    </span>
    <span (click)="handleNextClick()"
          class="button next" [ngClass]="{'disabled': isOnLastPage && !moreResultsAvailable}">
      <svg class="right" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 6.93"><defs></defs><polygon class="cls-1" points="4 6.93 8 0 0 0 4 6.93"/></svg>
    </span>
  </div>
</section>
