@import "variables";

section {
  font-size: 1.1rem;
  margin-bottom: 25px;
  .heading {
    font-size: 1.2rem;
    margin: 0;
    padding-left: $sidebar-padding-mobile;
  }
  hr {
    width: 100%;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid $light-border-color;
  }
  .loader {
    padding-left: 20px;
  }
}
.entities-list.frozen {
  color: #d0d0d0;
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px $sidebar-padding-mobile;
  user-select: none;
  color: $dark-blue-color;
  .button {
    display: flex;
    padding: 0 3px;
    cursor: pointer;
    &.next {
      justify-content: flex-end;
    }
    &.disabled {
      cursor: default;
      color: #b9b9b9;
      svg {
        fill: #b9b9b9;
      }
    }
  }
  svg {
    width: 18px;
    fill:#002b76;
    &.left {
      margin-right: 3px;
      transform: rotate(90deg);
      transform-origin: center;
    }
    &.right {
      margin-left: 3px;
      transform: rotate(-90deg);
      transform-origin: center;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  section {
    font-size: 1rem;
    .heading {
      padding-left: $sidebar-padding;
    }
  }
  .arrows {
    padding: 5px $sidebar-padding;
    .button {
      padding: 0;
    }
    svg {
      width: 15px;
    }
  }
}
