<div class="list-page" *ngIf="emptyGroups">
  <div class="container">
    <h1>Empty groups</h1>
    <div class="layout-card">
      <logex-table-description
        text="The following groups are not assigned to any roles and
        do not inherit any roles from parents"></logex-table-description>
      <logex-groups-table [groups]="emptyGroups"
                          [showAssignmentColumn]="false"
                          noResultsMessage="No empty groups found"></logex-groups-table>
    </div>
  </div>
</div>
