<nav class="navbar">
  <div class="item icon-item">
    <img (click)="handleSidebarClick()"
         src="/assets/img/sidebar-icon.svg"
         class="sidebar-icon"
         alt="Sidebar Icon">
  </div>
  <div class="item logo-item">
    <a routerLink="/"
       (click)="closeMenu()"
       routerLinkActive="active">
      <img src="/assets/img/logo.svg"
           class="logo"
           alt="Logex Logo">
    </a>
  </div>
  <div class="item icon-item">
    <img (click)="handleMenuClick()"
         src="/assets/img/menu-icon.svg"
         class="menu-icon"
         alt="Menu Icon">
  </div>
  <div class="menu" [ngClass]="{'open': menuOpen === true}">
    <ul class="main-menu">
      <li><a routerLink="/"
             (click)="closeMenu()"
             routerLinkActive="active">Home</a></li>
      <li class="with-dropdown">
        <div class="category">
          Roles
          <svg id="Dropdown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 6.93"><polygon class="cls-1" points="4 6.93 8 0 0 0 4 6.93"/></svg>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="/disabled-roles"
                   (click)="closeMenu()"
                   routerLinkActive="active">Disabled roles</a></li>
            <li class="dropdown-item"><a routerLink="/unused-roles"
                   (click)="closeMenu()"
                   routerLinkActive="active">Unused roles</a></li>
          </ul>
        </div>
      </li>
      <li class="with-dropdown">
        <div class="category">
          Groups
          <svg id="Dropdown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 6.93"><polygon class="cls-1" points="4 6.93 8 0 0 0 4 6.93"/></svg>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="/disabled-groups"
                                         (click)="closeMenu()"
                                         routerLinkActive="active">Disabled groups</a></li>
            <li class="dropdown-item"><a routerLink="/empty-groups"
                                         (click)="closeMenu()"
                                         routerLinkActive="active">Empty groups</a></li>
          </ul>
        </div>
      </li>
      <li class="with-dropdown">
        <div class="category">
          Users
          <svg id="Dropdown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 6.93"><polygon class="cls-1" points="4 6.93 8 0 0 0 4 6.93"/></svg>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="/deleted-users"
                                         (click)="closeMenu()"
                                         routerLinkActive="active">Deleted users</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
