@import 'src/assets/scss/variables';

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0 5px 23px rgb(0 11 100 / 5%);
  .sidebar-icon {
    width: 50px;
    margin-right: auto;
    cursor: pointer;
  }
  .logo-item {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
  img.logo {
    margin: 0 auto;
  }
  .menu-icon {
    width: 40px;
    margin-left: auto;
    cursor: pointer;
  }
  .item {
    display: flex;
    flex: 1;
  }
}

.navbar .menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
}

ul.main-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  transition: .5s;
  transform: translateX(100%);
  background-color: $dark-blue-color;
  li {
    font-size: 1.4rem;
    padding: 10px 15px;
    text-align: right;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

ul.dropdown-menu {
  list-style: none;
  li {
    padding-right: 0;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  svg {
    width: 6px;
    margin-left: 5px;
    fill: white;
  }
}

.navbar .menu.open {
  visibility: visible;
  ul {
    transform: translateX(0);
  }
}

@media (min-width: $breakpoint-lg) {
  .navbar {
    justify-content: flex-start;
    padding: 0 20px;
    .sidebar-icon {
      margin-right: 30px;
    }
    .menu-icon {
      display: none;
    }
    img.logo {
      margin: 0;
    }
  }

  .navbar .menu {
    position: static;
    visibility: visible;
    margin-left: 20px;
  }

  .navbar .menu.open {
    visibility: visible;
  }

  ul.main-menu {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0;
    transition: none;
    transform: unset;
    background-color: transparent;
    li {
      font-size: 1rem;
      font-weight: 700;
      padding: 26px 20px;
      a {
        transition: color .5s;
        color: #6e6e6e;
        &:hover {
          color: black;
        }
      }
    }
  }

  .category svg {
    fill: black;
  }

  li.with-dropdown {
    cursor: pointer;
    .category {
      color: #6e6e6e;
    }
  }

  li.with-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    visibility: hidden;
    transition: opacity .5s;
    opacity: 0;
    border-top: 4px solid $dark-blue-color;
    background-color: white;
    box-shadow: 0 6px 9px -6px rgba(0,0,0,0.21);
  }

  ul.dropdown-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 0;
    list-style: none;
    li {
      padding: 0;
      a {
        display: block;
        padding: 10px 15px;
      }
    }
  }
}

@media (min-width: $breakpoint-xlg) {
  .navbar {
    .sidebar-icon {
      display: none;
    }
  }
}
