@import "variables";
@import "mixins";

@include info-table;
@include no-results-box;

.table-viewport {
  width: 100%;
  height: 468px;
  border: 1px solid $light-border-color;
}

.users {
  @include search-input;
  input {
    margin-bottom: 15px;
  }
}

.directly {
  margin-right: 5px;
}
