<div *ngIf="allUsers.length > 0;else noResults" class="users">
  <input type="text"
         [(ngModel)]="searchedUser"
         (ngModelChange)="updateResults()"
         class="search-input"
         placeholder="Search users">
  <cdk-virtual-scroll-viewport [style]="{'height': computeTableHeight(allUsers.length, showAssignmentColumn)}"
                               itemSize="39"
                               class="table-viewport">
    <table class="info-table users-table">
      <thead>
      <tr>
        <th>Name</th>
        <th *ngIf="showAssignmentColumn">Assignment</th>
        <th>Login</th>
      </tr>
      </thead>
      <tbody>
      <tr *cdkVirtualFor="let user of shownUsers">
        <td><a [routerLink]="['/' + 'user', user.user_id]">{{user.first_name}} {{user.last_name}}</a></td>
        <td *ngIf="showAssignmentColumn">
          <tab-assignment-icon *ngIf="user.directly"
                               letter="D"
                               explanation="Assigned directly"
                               class="directly">
          </tab-assignment-icon>
          <tab-assignment-icon *ngIf="user.acquired"
                               letter="A"
                               [explanation]="acquiredIconExplanation">
          </tab-assignment-icon>
        </td>
        <td class="login">{{user.login}}</td>
      </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
<ng-template #noResults>
  <div class="no-results">
    {{noResultsMessage}}
  </div>
</ng-template>
