<div *ngIf="allRoles.length > 0;else noResults" class="roles">
  <input type="text"
         [(ngModel)]="searchedRole"
         (ngModelChange)="updateResults()"
         class="search-input"
         placeholder="Search roles">
  <cdk-virtual-scroll-viewport [style]="{'height': computeTableHeight(allRoles.length, showAssignmentColumn)}"
                               itemSize="39"
                               class="table-viewport">
    <table class="info-table users-table">
      <thead>
      <tr>
        <th>Name</th>
        <th *ngIf="showAssignmentColumn">Assignment</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *cdkVirtualFor="let role of shownRoles">
        <td><a [routerLink]="['/' + 'role', role.id]">{{role.uid}}</a></td>
        <td *ngIf="showAssignmentColumn">
          <tab-assignment-icon *ngIf="role.directly"
                               letter="D"
                               explanation="Assigned directly"
                               class="directly">
          </tab-assignment-icon>
          <tab-assignment-icon *ngIf="role.acquired"
                               letter="A"
                               [explanation]="acquiredIconExplanation">
          </tab-assignment-icon>
        </td>
        <td class="login">{{role.role_description}}</td>
      </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
<ng-template #noResults>
  <div class="no-results">
    {{noResultsMessage}}
  </div>
</ng-template>
