<div *ngIf="user && loaded" class="user">
  <div class="container">
    <logex-entity-header type="User"
                         [name]="user.first_name + ' ' + user.last_name"></logex-entity-header>
    <logex-view-menu [tabs]="tabs" ></logex-view-menu>
    <router-outlet></router-outlet>
  </div>
</div>
