<div *ngIf="group" class="group-info">
  <div class="details">
    <p class="description">Description: {{group.group_description}}</p>
    <p class="product">Belongs to product: {{group.product.product_description}} ({{group.product.abbreviation}})</p>
  </div>
  <div class="tables">
    <div class="layout-card roles">
      <h2>Roles belonging to this group:</h2>
        <logex-roles-table [roles]="allRoles"
                           noResultsMessage="No roles are assigned to this group"></logex-roles-table>
    </div>
    <div class="layout-card users">
      <h2>Users in this group:</h2>
        <logex-users-table [users]="allUsers"
                           acquiredIconExplanation="Inherited from a descendant group"
                           noResultsMessage="There are no users in this group"></logex-users-table>
    </div>
    <div class="layout-card parent-groups">
      <h2>Ancestors:</h2>
      <logex-groups-mini-table [groups]="group.ancestor_groups"
                               noResultsMessage="This group has no parent groups"></logex-groups-mini-table>
    </div>
    <div class="layout-card sibling-groups">
      <h2>Sibling groups:</h2>
      <logex-groups-mini-table [groups]="group.sibling_groups"
                               noResultsMessage="This group has no sibling groups"></logex-groups-mini-table>
    </div>
    <div class="layout-card child-groups">
      <h2>Descendants:</h2>
      <logex-groups-mini-table [groups]="group.descendant_groups"
                               noResultsMessage="This group has no child groups"></logex-groups-mini-table>
    </div>
  </div>
</div>
