@import "variables";
@import "mixins";

@include info-details;
@include info-table;

.tables {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  grid-auto-rows: auto;
  .parent-groups {
    grid-column: 1;
  }
  .sibling-groups {
    grid-column: 1;
  }
  .child-groups {
    grid-column: 1;
  }
  .roles {
    grid-column: 1;
  }
  .users {
    grid-column: 1;
  }
}

.layout-card h2 {
  margin-top: 5px;
}

.table-area {
  padding: 15px;
  border: 1px solid $light-border-color;
  background-color: white;
  box-shadow: 0 0 17px 0 rgba(0,0,0,0.05);
  h2 {
    margin-top: 5px;
  }
}

.info-table {
  .description {
    text-align: right;
  }
}

@media (min-width: $breakpoint-lg) {
  .tables {
    grid-template-columns: repeat(3, 1fr);
    .roles {
      grid-column: 1 / span 3;
    }
    .users {
      grid-column: 1 / span 3;
    }
    .parent-groups {
      grid-column: 1 / span 1;
    }
    .sibling-groups {
      grid-column: 2 / span 1;
    }
    .child-groups {
      grid-column: 3 / span 1;
    }
  }
}
