<div class="list-page" *ngIf="unusedRoles">
  <div class="container">
    <h1>Unused roles</h1>
    <div class="layout-card">
      <logex-table-description
        text="The following roles are not assigned to any users and groups"></logex-table-description>
      <logex-roles-table [roles]="unusedRoles"
                         [showAssignmentColumn]="false"
                         noResultsMessage="No disabled roles found"></logex-roles-table>
    </div>
  </div>
</div>
