<div *ngIf="allGroups.length > 0;else noResults" class="groups">
  <input type="text"
         [(ngModel)]="searchedGroup"
         (ngModelChange)="updateResults()"
         class="search-input"
         placeholder="Search groups">
  <cdk-virtual-scroll-viewport
    [style]="{'height': computeTableHeight(allGroups.length, showAssignmentColumn)}"
    itemSize="39"
    class="table-viewport">
    <table class="info-table groups-table">
      <thead>
      <tr>
        <th>Name</th>
        <th *ngIf="showAssignmentColumn">Assignment</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *cdkVirtualFor="let group of shownGroups">
        <td><a [routerLink]="['/' + 'group', group.id]">{{group.uid}}</a></td>
        <td *ngIf="showAssignmentColumn">
          <tab-assignment-icon *ngIf="group.directly"
                               letter="D"
                               explanation="Assigned directly">
          </tab-assignment-icon>
          <tab-assignment-icon *ngIf="group.acquired"
                               letter="I"
                               [explanation]="acquiredIconExplanation">
          </tab-assignment-icon>
        </td>
        <td class="description">{{group.group_description}}</td>
      </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
<ng-template #noResults>
  <div class="no-results">
    {{noResultsMessage}}
  </div>
</ng-template>
