@import "variables";

.link {
  display: block;
  width: 100%;
  padding: 7px $sidebar-padding-mobile;
  text-decoration: none;
  color: inherit;
  &:hover {
    background-color: $light-hover-grey-color;
  }
}

@media (min-width: $breakpoint-lg) {
  .link {
    padding: 7px $sidebar-padding;
  }
}



