<div class="results">
  <sidebar-search-results-block heading="Users"
                                [searchedText]="searchedText"
                                [serviceId]="0"
                                [template]="userTemplate"></sidebar-search-results-block>
  <sidebar-search-results-block heading="Roles"
                                [searchedText]="searchedText"
                                [serviceId]="1"
                                [template]="roleTemplate"></sidebar-search-results-block>
  <sidebar-search-results-block heading="Groups"
                                [searchedText]="searchedText"
                                [serviceId]="2"
                                [template]="groupTemplate"></sidebar-search-results-block>
</div>

<ng-template #userTemplate let-entity="entity">
  <a (click)="closeSidebar()" [routerLink]="['/user/', entity.user_id]" class="link">{{entity.first_name}} {{entity.last_name}}</a>
</ng-template>

<ng-template #roleTemplate let-entity="entity">
  <a (click)="closeSidebar()" [routerLink]="['/role/', entity.id]" class="link">{{entity.uid}}</a>
</ng-template>

<ng-template #groupTemplate let-entity="entity">
  <a (click)="closeSidebar()" [routerLink]="['/group/', entity.id]" class="link">{{entity.uid}}</a>
</ng-template>
