<div class="list-page" *ngIf="disabledGroups">
  <div class="container">
    <h1>Disabled groups</h1>
    <div class="layout-card">
      <logex-table-description
        text="The following groups have 'disabled' flag set to true"></logex-table-description>
      <logex-groups-table [groups]="disabledGroups"
                          [showAssignmentColumn]="false"
                          noResultsMessage="No disabled groups found"></logex-groups-table>
    </div>
  </div>
</div>
