<div *ngIf="user">
  <div class="details">
    <p class="login">Login: {{user.login}}</p>
  </div>
  <div class="tables">
    <div class="layout-card roles">
      <h2>Roles this user has:</h2>
      <logex-roles-table [roles]="allRoles"
                         acquiredIconExplanation="Acquired through a group or one of its ancestors"
                         noResultsMessage="This user has no roles"></logex-roles-table>
    </div>
    <div class="layout-card groups">
      <h2>Groups this user is a member of:</h2>
      <logex-groups-table [groups]="allGroups"
                          noResultsMessage="This user is not a member of any group"></logex-groups-table>
    </div>
  </div>
</div>
