@import "variables";
@import "mixins";

@include info-details;
@include info-table;
@include origin-icon;

.tables {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  grid-auto-rows: auto;
  .roles {
    grid-column: 1;
  }
  .groups {
    grid-column: 1;
  }
}

.layout-card h2 {
  margin-top: 5px;
}

.roles-table {
  .directly {
    margin-right: 5px;
  }
  .description {
    text-align: right;
  }
}
