<div class="list-page" *ngIf="disabledRoles">
  <div class="container">
    <h1>Disabled roles</h1>
    <div class="layout-card">
      <logex-table-description
        text="The following roles have 'disabled' flag set to true"></logex-table-description>
      <logex-roles-table [roles]="disabledRoles"
                         [showAssignmentColumn]="false"
                         noResultsMessage="No disabled roles found"></logex-roles-table>
    </div>
  </div>
</div>
