@import "variables";

.visualization-menu {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.menu-item {
  margin-bottom: 5px;
  padding: 10px 15px;
  user-select: none;
  border: 2px solid $light-border-color;
  border-radius: 5px;
  background-color: $light-blue-color;
}

.menu-item img {
  width: 16px;
  margin-right: 5px;
}

.selection {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.control-panel {
  display: flex;
  flex-direction: column;
}

.roles-switch {
  display: flex;
  align-items: center;
  flex-direction: row;
  user-select: none;
}

.checkbox {
  position: relative;
  width: 35px;
  height: 18px;
  margin: 0 5px 0 0;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(to bottom, #cbcbcb 2%, rgba(220, 220, 220, 0.58) 99%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
  &:after {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 14px;
    height: 14px;
    content: '';
    transition: .3s;
    border-radius: 50%;
    background-color: white;
  }
  &:checked {
    background: linear-gradient(to bottom, #0fa32e 2%, rgba(0, 203, 51, 0.58) 99%);
    &:after {
      transform: translateX(18px);
    }
  }
}

.checkbox-label {
  cursor: pointer;
}

.focus, .fullscreen {
  .button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

@media (min-width: $breakpoint-lg) {
  .visualization-menu {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-item {
    margin-bottom: 0;
  }
  .control-panel {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .focus, .roles-switch {
    margin-right: 10px;
  }
}
