<div class="visualization">
  <div class="visualization-menu">
    <div (click)="switchTreeType()"
         class="menu-item selection">
      <img src="/assets/img/tree.svg"
           alt="Tree icon">
      <div *ngIf="descendants;else ancestors">
        Tree of descendant groups
      </div>
      <ng-template #ancestors>
        Tree of ancestor groups
      </ng-template>
    </div>
    <div class="control-panel">
      <div class="menu-item roles-switch">
        <input type="checkbox"
               [checked]="rolesShown"
               (change)="switchRoles()"
               class="checkbox"
               id="roles-checkbox">
        <label class="checkbox-label"
               for="roles-checkbox">Show roles</label>
      </div>
      <div class="menu-item focus">
      <span (click)="focusGroup()"
            class="button">
        <img src="/assets/img/focus.svg"
             alt="Focus icon">
        Focus current group
      </span>
      </div>
      <div class="menu-item fullscreen">
      <span (click)="openFullscreen()"
            class="button">
        <img src="/assets/img/fullscreen.svg"
             alt="Fullscreen icon">
        Fullscreen mode
      </span>
      </div>
    </div>
  </div>
  <div *ngIf="showTree">
    <logex-groups-tree [rootGroup]="rootGroup"
                       [currentGroupId]="defaultGroup.id"
                       [showDirectRoles]="rolesShown" ></logex-groups-tree>
  </div>
</div>
