<nav class="tabs">
  <div *ngFor="let tab of tabs" #tabItem class="tab">
    <a [routerLink]="tab.link">{{tab.text}}</a>
  </div>
  <hr [ngStyle]="{'width.px': selectorWidth, 'left.px' : selectorOffset}"
      [ngClass]="{'animate': tabClicked}"
      class="selection">
</nav>
