@import "variables";

.tabs {
  position: relative;
  display: flex;
  overflow: auto;
  flex-direction: row;
  border-bottom: 1px solid $light-border-color;
  .tab {
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
    a {
      display: flex;
      padding: 10px 15px;
      white-space: nowrap;
      text-decoration: none;
      color: inherit;
    }
  }
  hr.selection {
    position: absolute;
    bottom: 0;
    width: 150px;
    margin: 0;
    border: 0;
    border-bottom: 3px solid $dark-blue-color;
    &.animate {
      transition: width .5s, left .5s;
    }
  }
}
