.header {
  .type {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
  }
  .name {
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 40px;
  }
}
