<div #canvasWrapper class="canvas-wrapper">
  <svg #tree class="canvas">
    <g class="tree">
      <g class="links"></g>
      <g class="nodes"></g>
    </g>
  </svg>
  <div *ngIf="rolesModalGroupId !== null" class="roles-modal">
    <span (click)="closeModal()"
         class="close">
      <img src="/assets/img/close.svg" alt="Close">
      Close
    </span>
    <h5>All roles for {{rolesModalUid}}</h5>
    <div *ngFor="let role of rolesMap[rolesModalGroupId]">
      <a [routerLink]="['/role/', role.id]"
         class="role">
        {{role.uid}}
      </a>
    </div>
  </div>
</div>
