@import "variables";
@import "mixins";

@include custom-scrollbar('.roles-modal', 9px);

.canvas-wrapper {
  position: relative;
}

.canvas {
  width: 100%;
  height: 800px;
  max-height: 80vh;
  user-select: none;
  border: 1px solid $light-border-color;
  border-radius: 5px;
  background-color: white;
  box-shadow: $card-box-shadow;
  &.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: unset;
  }
}

.tree .node-circle {
  fill: lighten($dark-blue-color, 20);
  stroke: none;
}

.tree .group-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.tree .role {
  cursor: pointer;
}

.tree .link {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 2px;
}

.tree .show-all {
  font-weight: 700;
  cursor: pointer;
}

.roles-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-height: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
  border: 2px solid $light-border-color;
  background-color: white;
  .close {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  h5 {
    font-size: 1.2rem;
    margin: 8px 0;
  }
  .role {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}
