/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'assets/scss/variables';

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: $light-blue-color;
}

*,::after,::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1370px;
  padding: 0 15px;
}

.container-full {
  width: 100%;
  padding: 0 15px;
}

.layout-card {
  padding: 15px;
  border: 1px solid $light-border-color;
  border-radius: 5px;
  box-shadow: $card-box-shadow;
  background-color: white;
}

@media (min-width: $breakpoint-md) {
 body {
   font-size: 16px;
 }
}

@media (min-width: $breakpoint-lg) {
  .container {
    padding: 0 20px;
  }
  .container-full {
    padding: 0 20px;
  }
}


