<div class="sidebar" [ngClass]="{'open': isOpen()}">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchedText" placeholder="Search users, roles, groups">
  </div>
  <sidebar-search-results [searchedText]="searchedText"></sidebar-search-results>
</div>
