@import "src/assets/scss/variables";
@import "mixins";

@include custom-scrollbar('.sidebar');

.sidebar {
  position: fixed;
  z-index: 99;
  top: 58px;
  left: 0;
  overflow: auto;
  width: 320px;
  height: calc(100vh - 58px);
  padding-bottom: 30px;
  transition: transform .5s;
  transform: translateX(-100%);
  border-right: 2px solid $light-border-color;
  background-color: white;
  .search-bar {
    padding: 0 $sidebar-padding-mobile;
    @include search-input;
    input[type=text] {
      margin: 30px 0;
    }
  }
}
.sidebar.open {
  transform: translateX(0);
}

@media (min-width: $breakpoint-lg) {
  .sidebar {
    top: 72px;
    width: 330px;
    height: calc(100vh - 72px);
    .search-bar {
      padding: 0 $sidebar-padding;
    }
  }
}

@media (min-width: $breakpoint-xlg) {
  .sidebar {
    top: 72px;
    width: 330px;
    height: calc(100vh - 72px);
    transform: translateX(0);
    .search-bar {
      padding: 0 $sidebar-padding;
    }
  }
}
