@import "variables";

@mixin custom-scrollbar($class-name, $width: 6px) {
  #{$class-name} {
    &::-webkit-scrollbar {
      width: $width;
    }
    &::-webkit-scrollbar-track {
      background-color: $light-border-color;
    }
    &::-webkit-scrollbar-thumb {
      background: #acacac;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #888888;
    }
  }
}

@mixin h1-main-header {
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  @media (min-width: $breakpoint-lg) {
    h1 {
      font-size: 2.2rem;
      margin-top: 0;
      margin-bottom: 80px;
    }
  }
}

@mixin search-input {
  input[type=text] {
    padding: 10px 10px 10px 35px;
    width: 100%;
    border: 1px solid $light-border-color;
    position: relative;
    background-image: url("~src/assets/img/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px center;
    &:focus {
      outline: none;
    }
  }
}

@mixin info-details {
  .details {
    padding: 15px 0;
  }
}

@mixin info-table {
  .info-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    thead th {
      text-align: left;
      padding: 8px;
    }
    tbody tr:nth-child(odd) {
      background-color: #f3f7f9;
    }
    td {
      padding: 9px;
      white-space: nowrap;
    }
    td a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }
  }
  @media(min-width: $breakpoint-lg) {
    .info-table {
      table-layout: fixed;
    }
  }
}

@mixin no-results-box {
  .no-results {
    height: 37px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid $light-border-color;
    color: #454545;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@mixin origin-icon {
  .origin-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    font-size: .9rem;
    border-radius: 50%;
  }
}
