$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1620px;

$dark-blue-color: #002B76;
$light-blue-color: rgb(250 253 255);
$light-border-color: #eeeeee;
$light-hover-grey-color: #f5f5f5;

$sidebar-padding-mobile: 15px;
$sidebar-padding: 20px;

$card-box-shadow: 0 0 17px 0 rgba(0,0,0,0.05);
