<div class="list-page" *ngIf="deletedUsers">
  <div class="container">
    <h1>Deleted users</h1>
    <div class="layout-card">
      <logex-table-description
        text="The following users are deleted"></logex-table-description>
      <logex-users-table [users]="deletedUsers"
                         [showAssignmentColumn]="false"
                         noResultsMessage="No deleted users found"></logex-users-table>
    </div>
  </div>
</div>
