@import "variables";
@import "mixins";

@include info-details;
@include info-table;
@include origin-icon;

.tables {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  grid-auto-rows: auto;
  .users {
    grid-column: 1;
  }
  .groups {
    grid-column: 1;
  }
}

.layout-card h2 {
  margin-top: 5px;
}

.users, .groups {
  @include search-input;
  input {
    margin-bottom: 15px;
  }
}


.table-viewport {
  width: 100%;
  height: 468px;
  border: 1px solid $light-border-color;
  box-shadow: 0 0 17px 0 rgba(0,0,0,0.05);
}

.users-table {
  .directly {
    margin-right: 5px;
  }
}
