<div *ngIf="role" class="role-info">
  <div class="details">
    <p class="description">Description: {{role.role_description}}</p>
    <p class="product">Belongs to product: {{role.product.product_description}} ({{role.product.abbreviation}})</p>
  </div>
  <div class="tables">
    <div class="layout-card users">
      <h2>Users with this role:</h2>
      <logex-users-table [users]="allUsers"
                         acquiredIconExplanation="Acquired through a group or one of its ancestors"
                         noResultsMessage="No users have this role"></logex-users-table>
    </div>
    <div class="layout-card groups">
      <h2>Groups containing this role:</h2>
      <logex-groups-table [groups]="allGroups"
                          noResultsMessage="No groups contain this role"></logex-groups-table>
    </div>
  </div>
</div>

