<div *ngIf="group && loaded" class="group">
  <div class="container">
    <logex-entity-header type="Group"
                         [name]="group.uid"></logex-entity-header>
    <logex-view-menu [tabs]="tabs" ></logex-view-menu>
    <router-outlet></router-outlet>
  </div>
</div>
