<div *ngIf="role && loaded" class="role">
  <div class="container">
    <logex-entity-header type="Role"
                         [name]="role.uid"></logex-entity-header>
    <logex-view-menu [tabs]="tabs" ></logex-view-menu>
    <router-outlet></router-outlet>
  </div>
</div>
