<div *ngIf="allGroups.length > 0;else noResults" class="groups">
  <input type="text"
         [(ngModel)]="searchedGroup"
         (ngModelChange)="updateResults()"
         class="search-input"
         placeholder="Search groups">
  <cdk-virtual-scroll-viewport
    [style]="{'height': computeTableHeight(allGroups.length, false)}"
    itemSize="39"
    class="table-viewport">
    <table class="info-table groups-table">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *cdkVirtualFor="let group of shownGroups">
        <td><a [routerLink]="['/' + 'group', group.id]">{{group.uid}}</a></td>
      </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
<ng-template #noResults>
  <div class="no-results">
    {{noResultsMessage}}
  </div>
</ng-template>
