@import "variables";

.main-container {
  margin-top: 58px;
}

@media (min-width: $breakpoint-lg) {
  .main-container {
    margin-top: 72px;
  }
}

@media (min-width: $breakpoint-xlg) {
  .main-container {
    margin-left: 330px;
  }
}
